<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% bootstrap_javascript %}
    <title>intro django</title>
</head>
<body>
    {% block navbar %}
        {% include "website/navbar.html" %}
    {% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>


    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>