{% extends 'website/base.html' %}

{% block content %}




{% for message in messages %}

    <p>written by: {{ message.author.username }}</p>
        <p>category: {{ message.category.name }}</p>
<p><strong>{{message.title}}</strong></p>
    <p>{{message.content}}</p>
    <a href="{% url 'show_message' message.id %}" class="btn btn-primary">plus</a>

    {% if request.user == message.author %}
        <a href="{% url 'delete_message' message.id %}" class="btn btn-danger">delete</a>
        <a href="{% url 'edit_message' message.id %}" class="btn btn-warning">edit</a>
    {% endif %}

    <hr>

{% endfor %}

{% endblock %}
